@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.contact-left-title h2{

    font-weight: 600;
    color: #7d2ae8;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #7d2ae8;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height:50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-family:"Quattrocento Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    border-radius: 50px;
    background: rgb(219, 218, 218);
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:hover{
    border: 1px solid #7d2ae8;
}

.contact-left button{
    display: flex;
    background: #7d2ae8;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 50px;
    border: none;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 900;
    transition: .3s; 
    font-size: 16px;
}


.contact-left button:hover{
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}


