@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Quattrocento Sans", sans-serif;

}

header{
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  background: #fff;
  z-index: 100;
  width: 100%;
}  

.logo{
    font-size: 2em;
    font-family: "Baskervville", serif;
    color: grey;
    cursor: pointer;

}

.text{
    color: #7d2ae8;
    font-family: "Baskervville", serif;
}

.navigation a{
    font-size: 1.1em;
    color: grey;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover{
    color: #7d2ae8;
}

.btn-test{
    color: white;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 15px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}

.btn-test:hover{
    color: #7d2ae8;
    background: transparent;

}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url();
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center ;
    padding: 30px 100px;
}

.image{
    position: absolute;
    top: 0;
    right: 0;
    width: 368px;
    height: 368px;
    background: url(/assests/lisette.jpg);
    transition: all 0.3s ease;
    overflow: hidden;
    background-repeat: no-repeat;
    transform: translateY(50%);
    margin-right: 300px ;
    margin-left: 280px;
    border-radius:50%;
    border: 2px solid #7234c5;
}


.image-about{
    position: relative;
    top: 0;
    right: 0;
    width: 368px;
    height: 368px;
    transition: all 0.3s ease;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-right: 150px;
    border: 2px solid #7d2ae8;
}


.content{
    max-width: 500px;
    color: grey;
}

.content h2{
    font-size: 3em ;
    color: grey;
}

.content h2 span{
    color: #7d2ae8;
}

.content h4{
    font-size: 2em;
}

.content p{
    padding: 5px 0 20px 0;
}


.btn-group a{
    text-decoration: none;
    background: #7d2ae8;
    color: white;
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 15px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    margin-right: 10px; 
    transition: .3s; 
}

.btn-group a:hover:nth-child(1){
    color: #7d2ae8;
    background: transparent;
}

.btn-group a:nth-child(2){
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;

}

.social-icons{
    position: absolute;
    bottom: 50px;
}

.social-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #7d2ae8;
    outline: 2-x solid #7d2ae8;
    transition: .3s;
}

.social-icons a:hover{
    transform: translateY(-5px);
}

.social-icons a i {
    color: #7d2ae8;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: #f8f8f8;
  color: #777;
  font-size: 0.9rem;
}

.vision{
    background: #ffffff;
    padding: 30px 100px;
    align-items: center ;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
    /* background: linear-gradient(135deg, #f5f3f9 0%, #ffffff 100%); */
}

.vision h2{
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.vision p{
    padding: 5px 0 20px 0;
    color: #4b5563;
    line-height: 1.65;
    font-size: 1.15rem;
    margin-bottom: 2.5rem;
    opacity: 0.95;

}

.mission-vision{

    background: #ffffff;
    border-radius: 15px;
    padding: 30px 100px;
    box-shadow: 0 4px 6px rgba(125, 42, 232, 0.1);
    align-items: center ;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;

}


.box {
    flex:1;
    background: white;
    padding: 2.5rem 2rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 30px;
    border: 1px solid #e5e7eb;
    margin-left: 25px;
    margin-right: 25px;

        
}

.box h2 {
            color: #7d2ae8;
            font-size: 20px;
            margin-bottom: 16px;
            font-weight: 600;
        }

.box p {
            color: #4b5563;
            line-height: 1.65;
            font-size: 15px;
        }
